.library-main-container {
    padding-top: 30px;
    width: 100%;
    background-color: rgba(var(--hound-dark), 1);
    color: white;
}

.library-collections-section {
    padding-left: 90px;
    padding-right: 90px;
    background-color: rgba(var(--hound-dark), 1);
    color: white;
}

.library-public-collections-section {
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 50px;
}

#library-collection-create-cover {
    color: white;
    background-color: rgba(var(--hound-primary), 1);;
}

.library-collections-section .itemcard-item-caption-secondary {
    color: white;
    opacity: 60%;
}

.library-collections-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, max-content));
    grid-gap: 16px;
    /* justify-content: center; */
}

.library-collections-header {
    margin-top: 10px;
    margin-bottom: 15px;
    color: white;
    user-select: none;
    font-size: 35px;
    font-family: 'Cabin Condensed', sans-serif;
    color: inherit;
    width: fit-content;
}

@media only screen and (max-width:1200px) {
    .library-container {
        width: 90%;
    }
}