.footer-main-section {
    display: flex;
    flex-direction: column;
    height: 250px;
    background-color: rgba(var(--hound-dark), 1);
    padding-top: 50px;
}

.footer-subtitle {
    margin-top: 20px;
    color: rgb(159, 159, 159);
    font-size: 18px;
    font-family: "Cabin", sans-serif;
    display: flex;
    justify-content: center;
}

.footer-logo-container {
    display: flex;
    justify-content: center;
}

#tmdb-logo {
    width: 120px;
    margin-right: 50px;
}

#reddit-logo {
    width: 75px;
    margin-top: 5px;
    margin-left: 50px;
}